@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800');

html,
body {
    height: 100%;
    width: 100%;
    background: beige;
    font-family: 'Nanum Myeongjo', serif;
}

.todolist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.todo-form {
    margin: 2em 0;
}

.todo__input {
    padding: 10px;
    border: 1px solid #000;
}

.todo__title {
    font-size: 3rem;
}
.check-btn {
    border: 0;
}

.todo__text {
    font-size: 1.5rem;
    margin-left: 10px;
}
